*{
    font-size: medium;
    margin: 0px;
    padding: 0px;
}
a{
    cursor: pointer;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(22, 21, 21);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 30vw;
}
.Profile{
    display: flex;
    justify-content: end;
}
header:hover{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(22, 21, 21);
    background-color: rgb(249, 251, 228);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
main{
    display: flex;
    justify-content:space-between;
    margin: 5px;
}
.front,.courses{
    background-color: rgb(22, 21, 21);
    width: 49vw;
    height: 80vh;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 5px;
}